.calculator{
    background-color:rgb(43, 144, 226);
    border: 20px;
    padding: 25px;
    position: absolute;
    
}

.header {
    color: white;
}

.buttons {
    color: white;
}
.buttons:hover{
    background-color:skyblue;
 }