body {
color: skyblue;
}
.calculator{
  width: 18em;
  border-radius: 5%;
  background-color: white;
}
button{
  height: 3em;
  width: 3em;

}
button:hover {

}

#answer {
  background: whitesmoke;
  height: 3em;
  width: 15em;
  box-shadow: 5px 4px 24px -2px rgba(0,0,0,1);
  margin-bottom: 1em;
  border-radius: 5%;
  padding-bottom: 5px;
}
.container {
  color: skyblue;
}
